node-red/data/flows.json
[
    {
        "id": "21e86c884c9cd30d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a286390b2bfbb40a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dccb854b84d17902",
        "type": "inject",
        "z": "21e86c884c9cd30d",
        "name": "Encender",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "on",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "2311ecf97529578b"
            ]
        ]
    },
    {
        "id": "2311ecf97529578b",
        "type": "mqtt out",
        "z": "21e86c884c9cd30d",
        "name": "",
        "topic": "esp32/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a286390b2bfbb40a",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "40c369170180413e",
        "type": "inject",
        "z": "21e86c884c9cd30d",
        "name": "APAGAR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "off",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "2311ecf97529578b"
            ]
        ]
    }
]